{% extends 'base.html' %}
{% block content %}


<h1>Waterfront Park POA Community Posts</h1>
<br/>
{% if user.is_authenticated %}
<a type="button" class="btn btn-primary" href="{% url 'add_post' %}">Add Post</a>

<div></div>
{% for post in object_list %}
<br/>
      <div class="card">
        <h5 class="card-header"><a href="{% url 'blog-details' post.pk %}">{{post.title}}</a> - {{post.author.first_name}} {{post.author.last_name}}</h5>
        <div class="card-body">
          <p class="card-text">{{post.body}}</p>
          <small>Posted: {{post.created_on}}</small><br/><br/>
          {% if user.id == post.author.id %}
          <a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
          {% else %}
          {%endif%}
        </div>
      </div>
{% endfor%}
{% else %}
<div class="card">
  <div class="card-header">
UNAUTHORIZED ATTEMPT
  </div>
  <div class="card-body">
    <p class="card-text">Not Permitted to View. Please Login.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
  </div>
</div>
{%endif%}

{% endblock %}